body {
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body * {
    background-color: lightblue;
    color:rgb(52, 7, 94);
}

h1,
h2,
p,
ul,
ol {
    padding: 5px;
    margin: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

ul,
ol {
    width: auto;
    padding: 10px 25px;
}